.hworihrw35 {
    background: url(../images/main-bg-1.jpg) center bottom no-repeat;
    background-size: cover;
    padding: 35px 0 110px;
    color: $color-white-1;
    text-align: center;
    flex-grow: 1;
    position: relative;
    @media (max-width: $lg) {
        padding: 50px 0;
    }
    &__container {
    }
    &__brand {
        margin: 0 0 20px;
        display: inline-block;
        font-weight: bold;
        font-size: var(--fs-3);
        line-height: 1;
        text-transform: uppercase;
        vertical-align: top;
        transition: all .4s;
        transition-property: opacity;
        &:hover {
            text-decoration: none;
            opacity: .6;
        }
    }
    &__row {
    }
    &__col-content {
    }
    &__col-form {
    }
    &__content {
        max-width: 970px;
        margin: 0 auto;
    }
    &__title {
        margin: 0 0 20px;
        line-height: 1.23;
        @media (max-width: $xs) {
            margin-bottom: 10px;
        }
    }
    &__text {
        margin: 0 0 30px;
        color: $color-white-2;
        @media (max-width: $xs) {
            margin-bottom: 20px;
        }
    }
    &__info {
        margin: -8px -36px;
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        list-style-type: none;
        @media (max-width: $xs) {
            padding-bottom: 20px;
        }
        &-item {
            margin: 8px 36px;
        }
    }
}

.tab-pane {
    &.active:nth-child(1) ~ .hworihrw35-form-b__progress {
        width: 11.1111%;
    }
    &.active:nth-child(2) ~ .hworihrw35-form-b__progress {
        width: 22.2222%;
    }
    &.active:nth-child(3) ~ .hworihrw35-form-b__progress {
        width: 33.3333%;
    }
    &.active:nth-child(4) ~ .hworihrw35-form-b__progress {
        width: 44.4444%;
    }
    &.active:nth-child(5) ~ .hworihrw35-form-b__progress {
        width: 55.5555%;
    }
    &.active:nth-child(6) ~ .hworihrw35-form-b__progress {
        width: 66.6666%;
    }
    &.active:nth-child(7) ~ .hworihrw35-form-b__progress {
        width: 77.7777%;
    }
    &.active:nth-child(8) ~ .hworihrw35-form-b__progress {
        width: 88.8888%;
    }
    &.active:nth-child(9) ~ .hworihrw35-form-b__progress {
        width: 100%;
    }
}