:root {
    --fs-default: 18px;
    --fs-1: 60px;
    --fs-2: 32px;
    --fs-3: 24px;
    --fs-4: 18px;
    --fs-5: 16px;
    --fs-6: 14px;

    --gap: 10px;
    --gap-: -10px;
    --gap-fluid: 20px;
    --gap-fluid-: -20px;
}

@media (max-width: $md) {
    :root {
        --fs-default: 16px;
        --fs-1: 40px;
        --fs-2: 24px;
        --fs-3: 20px;
        --fs-4: 16px;
        --fs-5: 14px;
        --fs-6: 14px;
    }
}

@media (max-width: $xs) {
    :root {
        --fs-default: 14px;
        --fs-1: 26px;
        --fs-2: 16px;
        --fs-3: 14px;
        --fs-4: 14px;
        --fs-5: 14px;
        --fs-6: 14px;
    }
}