// typography
$ff-default: 'Montserrat', Arial, sans-serif;

// pallets
$color-black-1: #000;
$color-white-1: #fff;
$color-white-2: #F5F5F5;
$color-gray-1: #979797;
$color-accent-1: #220953;
$color-accent-2: #D1A0F8;
$color-accent-3: #BE8AE7;
$color-accent-4: #41568C;
$color-accent-5: #22213E;
$color-red-1: #ff4a35;

$xl: 1440px;
$xl-mf: $xl + 1;

$lg: 1199px;
$lg-mf: $lg + 1;

$md: 991px;
$md-mf: $md + 1;

$sm: 767px;
$sm-mf: $sm + 1;

$xs: 576px;
$xs-mf: $xs;